[Unit]
Description=op1 server
After=network.target

[Service]
LimitNOFILE=3000000
User=www-data
Group=www-data
Environment=RUST_LOG=info
ExecStart=/usr/local/bin/op1-server --path /mnt/tables/basemb
PrivateTmp=true
PrivateDevices=true
DevicePolicy=closed
ProtectSystem=full
ReadOnlyPaths=/mnt/tables/basemb
CapabilityBoundingSet=
NoNewPrivileges=true
Restart=always
